# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
.cache/
*.log

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env*
!.env.example

# Testing
coverage/
jest/
cypress/screenshots/
cypress/videos/

# Misc
*.bak
*.swp
*.swo
*.swn
*.sublime-workspace
